@{
    ViewData["Title"] = "Home Page";
    var name = ViewBag.Name;
}
<div>
        @*<audio ng-repeat="note in measures.Notes" ng-src="{{ '/Assets/chrom_sax/' + note.Value + '.mp3' }}"></audio>*@
</div>
@*<audio autoplay="autoplay" controls src="~/Assets/a_train.mp3"></audio>*@
@*<audio autoplay="autoplay" controls src="~/Assets/chrom_sax/@(ViewBag.Name).mp3"></audio>*@