@{
    ViewData["Title"] = "Home Page";
    var name = ViewBag.Name;
}
<div class="songWrapper">
    <div class="staff">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div id="notesWrapper">
        <div class="noteHolder inactive {{'note_' + note.note}}" ng-repeat="note in notes">
            <audio class="noteQueue" ng-src="{{ '/Assets/chrom_sax/' + note.note + '.mp3' }}" data-ng-duration="{{note.duration.doubleDuration}}"></audio>
            <p class="note {{note.duration.stringDuration}}" ng-class="{'strikethrough' : note.SoloOctave == 4}">
                <span>&#9834;</span>
            </p>
        </div>
    </div>
</div>
<audio id="masterSong" src="~/Assets/songs/a_train.m4a"></audio>
@*<audio autoplay="autoplay" controls src="~/Assets/chrom_sax/@(ViewBag.Name).mp3"></audio>*@